* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: Arial, sans-serif;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 59px;
  background: #0f1111;
  color: white;
}
.style:hover {
  color: orange;
}
.rightheader {
  display: flex;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo:hover {
  border: 1px solid #fff;
  border-radius: 2px;
  margin: -1px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.logo {
  text-align: center;
  margin: 1px;
  margin-bottom: -5px;
  padding: 1px, 8px, 0, 6px;
  margin-left: 20px;
  position: static;
  clear: both;
  display: flex;
  float: none;
  height: 33px;
  width: 102px;
  width: auto;
  flex-shrink: 0;
}
.deflex {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
  align-items: center;
}
.main-nav input {
  width: 400px;
  padding: 7px 10px 10px 0;
  line-height: 15px;
  border: none;
  outline: none;
  color: black;
  font-size: 17px;
  height: 38px;
  direction: ltr;
  top: 0;
  left: 0;
  box-shadow: none;
  font-family: inheri;
}
.inline {
  display: inline;
}
.main-nav button {
  padding: 10px 10px;
  color: black;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
  height: 38px;
  margin: -1px;
}
.main-nav .selctionbox {
  background: #ddd;
  border-radius: 5px 0 0 5px;
  height: 38px;
}

.selctionbox:hover {
  border: 1px solid #888;
  background-color: #ddd;
}
.button1:hover {
  background-color: #dcdcdc;
}
.main-nav .searchbutton {
  padding: 10px 17px;
  margin: -2px;
  background: rgb(247, 155, 80);
  border-radius: 0 5px 5px 0;
}
.button2:hover {
  background-color: rgb(204, 111, 35);
}
i .size {
  size: 2px;
}

.item {
  /*padding: 10px 10px;*/
  padding: 0 9px 0 9px;
  margin: 5px 2px 5px 0;
  display: flex;
}
.item:hover {
  border: 1px solid #fff;
  border-radius: 2px;
  margin: -1px;
}
.item i {
  padding: 0 6px;
}
.searchbox .box {
  display: flex;
  align-items: center;
}

.nav-list {
  background-color: #232f3e;
  height: 39px;
  color: white;
}
.firstparent {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
}
.headerinner {
  display: flex;
  justify-content: space-between;
}
.all {
  padding: 8px 9px 8px 9px;
  margin: 5px 20px 6px 0px;
  line-height: 1em;
  align-items: center;
  width: auto;
  height: auto;
  margin-left: 10px;
}
.secondparent {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
}
.all:hover {
  border: 1px solid #fff;
  border-radius: 2px;
  margin-left: 8px;
}
.third-bar {
  background-color: white;
  height: 38px;
  color: black;
  border-bottom: 1px solid rgb(225, 217, 217);
}
.entries {
  display: flex;
  justify-content: space-between;
  padding: 8px 9px 8px 9px;
  margin: 5px 0 6px 10px;
}
.feature {
  padding-top: 3px;
}
.button3:hover {
  background-color: #dcdcdc;
  border: none;
}
.sort {
  border-radius: 6px;
  padding: 3px;
  border: 1px solid lightgray;
  margin: 5px 50px 6px 10px;
}
.result {
  display: flex;
  justify-content: space-between;
}
.result2 {
  display: flex;
  justify-content: space-between;
}

/* main body*/
